/*=============================================
Mis estilos globales
=============================================*/

*{
	margin:0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
	font-family: 'Ubunt', sans-serif;
}

ul, ol{
	padding:0px;
}

a:visited, a:link, a:focus, a:hover, a:active{
	list-style: none;
	text-decoration: none;
}

.barraSuperior{
	/*background:rgb(238, 165, 7);*/
	padding-bottom: -10px;
}

.barraSuperior a{
	color:rgb(255, 255, 255);
}

.backColor, .backColor a{
	/*background:#faa159;*/
	color:white;
}

.whiteColor{
	background:#ffffff;
	color:rgb(0, 0, 0);
}

/*=============================================
ERROR 404
=============================================*/

.error404{
	color:#333;
}


/*=============================================
Responsivo lg
=============================================*/

@media (min-width:1200px){

	.col-lg-0{
		display: none;
	}

	.error404 h1{
		font-size:300px;
		text-shadow:8px 8px 1px #dadada;
	}

}

/*=============================================
Responsivo md
=============================================*/

@media (max-width:1199px) and (min-width:992px){

	.col-md-0{
		display: none;
	}

	.error404 h1{
		font-size:200px;
		text-shadow:6px 6px 1px #dadada;
	}

}

/*=============================================
Responsivo sm
=============================================*/

@media (max-width:991px) and (min-width:768px){

	.col-sm-0{
		display: none;
	}

	.error404 h1{
		font-size:150px;
		text-shadow:4px 4px 1px #dadada;
	}

}

/*=============================================
Responsivo xs
=============================================*/

@media (max-width:767px){

	.col-xs-0{
		display: none;
	}

	.error404 h1{
		font-size:75px;
		text-shadow:2px 2px 1px #dadada;
	}

}




















/*=============================================
CABEZOTE
=============================================*/

.cabeza{
		margin-top: -20px;
}

header #btnCategorias{
	cursor: pointer;
}

header #btnCategorias p{
	line-height: 40px;
	margin-bottom:0px;
}

header #btnCategorias p span{
	margin-left: -5px;
}

header #buscador{
	margin-top:10px;
}

header #buscador input{
	padding:19px;
	border-radius:0;
}

header #buscador button{
	padding:9px 15px;
	border:1px solid silver;
	border-radius:1px;
}

header #carrito{
	margin:10px 0;
}

header #carrito button{
	padding:9px 15px;
	margin-left: 5px;
	border:1px solid silver;
	border-radius:5px;
}

header #carrito p{
	padding:2px;
	border:2px solid rgb(255, 255, 255);
	font-size:12px;
}

header #categorias{
	display:none;
	margin-bottom: 20px;
	position: relative;
	border-radius: 5px;
	padding-bottom:20px;
	margin-top: 10px;
}

header #categorias h4{
	margin-top:20px;
	text-align: center;
	margin-bottom:-15px;
	text-transform: uppercase;
}

header #categorias hr{
	border:1px solid rgba(255,255,255,.3);
}

header #login{
	margin:20px 0;
	display:inline;
	text-align: right;
	line-height: 40px;
}

header #login a{
	padding-right:5px;
}

header #login button{
	padding:9px 15px;
	border:1px solid silver;
	border-radius:5px;
}

.verCesta{
	width: 70%;
	border-radius: 5px;
}

.verCesta div{
	text-align: center;
	color: red;
}

.verCesta div h2{
	transition: .4s all ease;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	margin: 0;
	padding: 0;
	font-size: 12px;
	position: absolute;
	padding-left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.accesoRapidoPortada ul li a p{
	padding: 0;
	margin: 0;
	color: rgb(153, 153, 153);
	font-size: 11px;
	font-weight: bold;
	padding-right: 15px;
	margin-top: -10px;
	transition: .7s all ease;
	transform: scale(1,1);
}

.accesoRapidoPortada ul li a p:hover{
	transition: .2s all ease;
	color: rgb(255, 0, 0);
	transform: scale(1.02,1.02);
}

/*=============================================
BARRA DE PRODUCTOS
=============================================*/

.barraProductos{
	margin-top: 5px;
}

.barraProductos .organizaProductos span{
	margin-left: 10px;
	padding-left: 5px;
}

/*=============================================
PRODUCTOS DESTACADOS
=============================================*/

.tituloDestacado h1{
	margin-top: -5px;
}


.tituloDestacado button span{
	margin-left: 5px;
}

.productos ul li figure{
	overflow: hidden;
	border-radius: 5px;
}

.productos ul li a img{
	border-radius: 5px;
	transition: .9s all ease;
	opacity: 1;
	transform: scale(1,1);
}

.productos ul li a img:hover{
	transition: .3s all ease;
	opacity: .6;
	transform: scale(1.07,1.07);
}

.productos ul li h4 small{
	color: #777;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
}

.productos ul li h4 small a{
	color: #777;
}

.productos ul li div.precio{
	padding: 0;
	margin-top: -30px;
	padding-bottom: 20px;
}

.productos ul li div.enlaces{
	padding: 0;
	padding-bottom: -20px;
}

.productos ul li div.enlaces button{
	margin: 2px;
}

.productos ul li div.enlaces button i{
	color: #999;
	font-size: 12px;
}










/*=============================================
VIDEO
=============================================*/

video{
    width: 100%;
}







/*=============================================
PRECIOS PRODUCTO
=============================================*/

.PecioSolesProducto{
	color: rgb(0, 0, 0);
	font-size: 18px;
	text-shadow: 1px 1px 0px rgb(116, 116, 116) ;
}

.PecioSolesProducto::before{
    content: "S/";
}











/*=============================================
1366px
=============================================*/

@media (min-width:1200px){

	/*=============================================
	HEADER
	=============================================*/

	header #logotipo img{
		margin: 5px 0;
		padding:5px 5px;
		padding-left:0px;
	}

	header #carrito{
		padding-left:5px;
	}

}

/*=============================================
1024px
=============================================*/

@media (max-width:1199px) and (min-width:992px){

	/*=============================================
	HEADER
	=============================================*/

	header #logotipo img{
		margin: 5px 0;
		padding:10px 10px;
		padding-left:0px;
	}

	header #carrito{
		padding-left:5px;
	}

}

/*=============================================
768px
=============================================*/

@media (max-width:991px) and (min-width:768px){

	/*=============================================
	HEADER
	=============================================*/

	header #logotipo img{
		margin: 5px 0;
		padding:10px 0px;
	}

	header #carrito{
		padding-left:5px;
	}

	header #carrito p{
		display:none;
	}

	.onlyDesctop{
		display: none;
	}

	.h1OnlyMovil{
		font-size: 25px;
	}
}

/*=============================================
320px
=============================================*/

@media (max-width:767px){

	/*=============================================
	HEADER
	=============================================*/

	header #logotipo img{
		margin: 5px 0;
		padding: 10px;
		padding-bottom:5px;
	}

	header #categorias{
		margin-bottom:7px;
	}

	header #buscador{
		margin-bottom:7px;
	}

	header #carrito{
		margin:0px;
	}

	.onlyDesctop{
		display: none;
	}

	.h1OnlyMovil{
		font-size: 25px;
	}

	.verCesta{
		width: 100%;
	}
	
}